/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Estilos del menú lateral */
#menu {
    width: 70px;
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: width 0.3s;
    /* Agregar el sombreado */
    -webkit-box-shadow: 0px 0px 165px 16px rgba(170, 0, 255, 0.61);
    -moz-box-shadow: 0px 0px 165px 16px rgba(170, 0, 255, 0.61);
    box-shadow: 0px 0px 165px 16px rgba(170, 0, 255, 0.61);
}

#menu:hover {
    width: 200px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

/* Estilos del contenido */
#content {
    flex: 1;
    padding: 20px;
    margin-left: 70px;
    transition: margin-left 0.3s;
}

#menu:hover + #content {
    margin-left: 200px;
}

/* Estilos de las secciones */
section {
    display: none;
    padding: 20px;
    background-color: #f0f0f0;
    margin: 20px;
    border: 1px solid #ddd;
}

section.active {
    display: block;
}